.auth-form-container {
	display: flex;
	flex-direction: column;

	font-size: 14px;
	height: 81.3vh;
	outline: none;
	color: #ffffff;
	align-items: left;
	text-align: center;

	background-color: #424459;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 60px;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
}
.login-form,
.register-form {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px
			54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	/* border: 0.25px solid black; */
}
.headerstyle {
	color: #ffff;
	font-size: 30px;
	font-weight: 350;
}

.lblform {
	text-align: left;
	padding: 0.25rem 0;
}

.inputform {
	margin: 0.5rem 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

.link-btn {
	background: none;
	color: #dab1f8;
	text-decoration: underline;
	cursor: pointer;
	transition: all 200ms linear;
	margin: 10px;
	padding: 5px;
}

.link-btn:hover {
	text-decoration: none;
	color: #bcb3f6;
}

.submitbtn {
	height: 50px;
	background-image: linear-gradient(
		144deg,
		#dab1f8,
		#bcb3f6 50%,
		#abf6fb
	);

	color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 8px;
	margin: 10px;
	cursor: pointer;
	font-size: 15px;
	justify-content: center;
	align-items: center;
}
.submitbtn:hover {
	background-image: linear-gradient(
		144deg,
		#abf6fb,
		#bcb3f6 50%,
		#dab1f8
	);
}

@media screen and (min-width: 700px) {
	.auth-form-container {
		padding-left: 200px;
		padding-right: 200px;
	}
}
