.auth-form-container {
	display: flex;
	flex-direction: column;

	font-size: 14px;
	height: 68vh;
	outline: none;
	color: #ffffff;
	align-items: left;
	text-align: center;

	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
	background-color: #2a2b38;
	padding: 80px;
}
.login-form,
.register-form {
	display: flex;
	flex-direction: column;
}
.headerstyle {
	color: #ffff;
	width: 700px;
}
@media screen and (min-width: 600px) {
	.auth-form-container {
		/* padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px; */
	}
}

label {
	text-align: left;
	padding: 0.25rem 0;
}

input {
	margin: 0.5rem 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

.link-btn {
	background: none;
	color: #7439db;
	text-decoration: underline;
}

.link-btn {
	cursor: pointer;
	transition: all 200ms linear;
	color: #c4c3ca;
}

.link-btn:hover {
	text-decoration: none;
	color: #ffeba7;
}

.submitbtn {
	height: 50px;
	background-image: linear-gradient(
		144deg,
		#af40ff,
		#5b42f3 50%,
		#00ddeb
	);

	color: white;
	border: 1px solid white;
	border-radius: 8px;
	margin: 10px;
	cursor: pointer;
	font-size: 15px;
	justify-content: center;
	align-items: center;
}
.submitbtn:hover {
	background-image: linear-gradient(
		144deg,
		#00ddeb,
		#5b42f3 50%,
		#af40ff
	);
}
